# OS X
#
.DS_Store
Thumbs.db

# Xcode
#
xcuserdata/

*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3

*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcuserstate

*.xccheckout

# Carthage
#
Carthage/Build
Carthage/Checkouts

# IPA
#
*.app.dSYM.zip
*.ipa
